.editor-container {
  flex: 1;
}

/* CLEAN WRITING AREA (NO BOX FEEL) */
.editor {
  width: 100%;
  min-height: 300px;

  background: transparent;
  border: none;

  font-size: 18px;
  line-height: 1.8;
  color: #e5e5e5;

  outline: none;
  resize: none;
}

/* Placeholder */
.editor::placeholder {
  color: #777;
}