.stat {
  background: #2a2a2a;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.stat p {
  font-size: 12px;
  color: #aaa;
}

.stat h3 {
  font-size: 18px;
  margin-top: 5px;
  color: #e5e5e5;
}